parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .*\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#If condition is always false.#' # in OutputMapping.php, constant INCLUDE_AUX_TABLES_IN_OUTPUT_MAPPING
